
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" [(ngModel)]="term">
  </div>

<div class="album py-5 bg-light">
<div class="card text-center" *ngFor="let p of catalogue$ | async | productFilter:term">
    <div>
      {{ p.id }}
    </div>
    <div>
      Marque : {{ p.brand }}
    </div>
    <div>
      Model : {{ p.model }}
    </div>
    <div>
        Prix : {{ p.prix }} €
    </div>
</div>
</div>
